<div class="alert alert-warning mt-2 js-alert-message">
    @Localizer["Record locked. Another user is accessing this record. Kindly wait for the other user to finish their business activity."]
</div>
