.bread-crumbs {
  display: flex;
  color: $crumbs-text-col;
  margin-bottom: rem(12);

  &__item {
    margin-left: rem(4);

    &:first-child {
      margin-left: 0;
    }

    &:after {
      content: "»";
      margin-left: rem(4);
    }
    &:last-child {
      &:after {
        content: "";
        margin-left: 0;
      }
    }
  }
}
