.dropdown-menu {
  font-size: $font-reg-size;
  background-color: $dropdown-bg-col;
  border: 1px solid $dropdown-border-col;
  border-radius: 0;
  box-shadow: 1px 1px 6px 1px rgba($item-shadow, 1);
}
