.error-page h4 {
    margin: 4rem;
    font-weight: bold;
}

.error-page p.msg {
    margin: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.error-page p {
    font-weight: bold;
    font-size: 0.75rem;
}

