@page "/Statement/Details/{documentId:long}"
@model IndexModel

<div class="content__wrapper--lg page__payment">

    <vc:breadcrumb current="null"></vc:breadcrumb>

    <h2 class="page__title">@Localizer["View Statement"]</h2>

</div>